 <div class="container text-center">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
          <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
        </a>
        <span class="mb-3 mb-md-0 text-muted">© 2022 HEAJ, Inc</span>
      </div>
  
      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
        <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
        <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
      </ul>
    </footer>
  </div> 

<!--  <footer class="footer">
    <small style="margin-bottom: 20px; display: inline-block">
      © 2022 made with
      <span style="color: red; font-size: 18px">&#10084;</span> by -
      <a target="_blank" href="https://azouaoui.netlify.com"> Mohamed Azouaoui </a>
    </small>
    <br />
    <div>
      <a href="https://github.com/azouaoui-med" target="_blank" rel="noopener noreferrer">
        <img alt="GitHub followers" src="https://img.shields.io/github/followers/azouaoui-med?label=github&style=social" />
      </a>
      <a href="https://twitter.com/azouaoui_med" target="_blank" rel="noopener noreferrer">
        <img alt="Twitter Follow" src="https://img.shields.io/twitter/follow/azouaoui_med?label=twitter&style=social" />
      </a>
    </div>
  </footer> -->

</body>
</html>